In [ ]:
!pip install zeep

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting zeep
  Downloading zeep-4.2.1-py3-none-any.whl (101 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.2/101.2 KB 9.6 MB/s eta 0:00:00
Collecting requests-file>=1.5.1
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: attrs>=17.2.0 in /usr/local/lib/python3.9/dist-packages (from zeep) (22.2.0)
Collecting requests-toolbelt>=0.7.1
  Downloading requests_toolbelt-0.10.1-py2.py3-none-any.whl (54 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.5/54.5 KB 6.5 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.6.0 in /usr/local/lib/python3.9/dist-packages (from zeep) (4.9.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.9/dist-packages (from zeep) (2022.7.1)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.9/dist-packages (from zeep) (2.27.1)
Collecting isodate>=0.5.4
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 KB 5.1 MB/s eta 0:00:00
Requirement already satisfied: platformdirs>=1.4.0 in /usr/local/lib/python3.9/dist-packages (from zeep) (3.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from isodate>=0.5.4->zeep) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.7.0->zeep) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.7.0->zeep) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.7.0->zeep) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.7.0->zeep) (2.0.12)
Installing collected packages: isodate, requests-toolbelt, requests-file, zeep
Successfully installed isodate-0.6.1 requests-file-1.5.1 requests-toolbelt-0.10.1 zeep-4.2.1

In [ ]:
from zeep import Client
from zeep.wsse.username import UsernameToken
from base64 import b64decode
from zipfile import ZipFile
import pandas as pd
import numpy as np
import csv
import io
import json
import os, time, datetime
from datetime import datetime
from time import perf_counter

In [ ]:
dict_creden_TERYT = {'username' : 'TestPubliczny',
                    'password' : '1234abcd',
                    'wsdl' : 'https://uslugaterytws1test.stat.gov.pl/wsdl/terytws1.wsdl'}

In [ ]:
token = UsernameToken(
                        username=dict_creden_TERYT['username'],
                        password=dict_creden_TERYT['password']
)

In [ ]:
token

In [ ]:
client = Client(wsdl=dict_creden_TERYT['wsdl'],
               wsse = token)

In [ ]:
STATE_DATE = datetime.now()
catalog = client.service.PobierzKatalogTERC(STATE_DATE)
filename = catalog['nazwa_pliku']
content = catalog['plik_zawartosc']
decoded = b64decode(content)

In [ ]:
filename

'TERC_Urzedowy_2023-01-01'

In [ ]:
with open(filename, 'wb') as file:
    file.write(decoded)
    file.close()

In [ ]:
zf = ZipFile(filename, 'r')
zf

In [ ]:
with zf.open(zf.namelist()[1]) as csv_file:
    data = pd.read_csv(csv_file, 
                        sep=';', 
                        # quoting=csv.QUOTE_NONE, 
                        encoding='utf-8',
                        dtype={
                            'WOJ' : str,
                            'POW' : str, 
                            'GMI' : str, 
                            'RODZ' : str, 
                            'NAZWA' : str, 
                            'STAN_NA'  : str       
                         })

In [ ]:
data

     WOJ  POW  GMI RODZ          NAZWA                  NAZWA_DOD     STAN_NA
0     02  NaN  NaN  NaN   DOLNOŚLĄSKIE                województwo  2023-01-01
1     02   01  NaN  NaN  bolesławiecki                     powiat  2023-01-01
2     02   01   01    1    Bolesławiec              gmina miejska  2023-01-01
3     02   01   02    2    Bolesławiec              gmina wiejska  2023-01-01
4     02   01   03    2       Gromadka              gmina wiejska  2023-01-01
...   ..  ...  ...  ...            ...                        ...         ...
4259  32   61   01    1       Koszalin              gmina miejska  2023-01-01
4260  32   62  NaN  NaN       Szczecin  miasto na prawach powiatu  2023-01-01
4261  32   62   01    1       Szczecin              gmina miejska  2023-01-01
4262  32   63  NaN  NaN    Świnoujście  miasto na prawach powiatu  2023-01-01
4263  32   63   01    1    Świnoujście              gmina miejska  2023-01-01

[4264 rows x 7 columns]

In [ ]:
data_terc = data.copy()

In [ ]:
data_terc = data_terc.replace(np.nan, '')
data_terc

     WOJ POW GMI RODZ          NAZWA                  NAZWA_DOD     STAN_NA
0     02                DOLNOŚLĄSKIE                województwo  2023-01-01
1     02  01           bolesławiecki                     powiat  2023-01-01
2     02  01  01    1    Bolesławiec              gmina miejska  2023-01-01
3     02  01  02    2    Bolesławiec              gmina wiejska  2023-01-01
4     02  01  03    2       Gromadka              gmina wiejska  2023-01-01
...   ..  ..  ..  ...            ...                        ...         ...
4259  32  61  01    1       Koszalin              gmina miejska  2023-01-01
4260  32  62                Szczecin  miasto na prawach powiatu  2023-01-01
4261  32  62  01    1       Szczecin              gmina miejska  2023-01-01
4262  32  63             Świnoujście  miasto na prawach powiatu  2023-01-01
4263  32  63  01    1    Świnoujście              gmina miejska  2023-01-01

[4264 rows x 7 columns]

In [ ]:
voivodeship_df = data_terc[data_terc.NAZWA_DOD == "województwo"].copy().drop(['POW',
                                                                             'GMI', 
                                                                             'RODZ',
                                                                             'NAZWA_DOD',
                                                                             'STAN_NA'], axis=1).reset_index(drop=True)
voivodeship_df

   WOJ                NAZWA
0   02         DOLNOŚLĄSKIE
1   04   KUJAWSKO-POMORSKIE
2   06            LUBELSKIE
3   08             LUBUSKIE
4   10              ŁÓDZKIE
5   12          MAŁOPOLSKIE
6   14          MAZOWIECKIE
7   16             OPOLSKIE
8   18         PODKARPACKIE
9   20            PODLASKIE
10  22            POMORSKIE
11  24              ŚLĄSKIE
12  26       ŚWIĘTOKRZYSKIE
13  28  WARMIŃSKO-MAZURSKIE
14  30        WIELKOPOLSKIE
15  32   ZACHODNIOPOMORSKIE

In [ ]:
for i in np.arange(0,len(voivodeship_df.columns)):
    voivodeship_df[voivodeship_df.columns[i]] = voivodeship_df[voivodeship_df.columns[i]].astype(str)
    voivodeship_df[voivodeship_df.columns[i]] = voivodeship_df[voivodeship_df.columns[i]].str.strip()
    voivodeship_df[voivodeship_df.columns[i]] = voivodeship_df[voivodeship_df.columns[i]].str.lower()
    voivodeship_df[voivodeship_df.columns[i]] = voivodeship_df[voivodeship_df.columns[i]].str.replace('\t', '')

In [ ]:
voivodeship_df = voivodeship_df.rename(columns={'WOJ' : 'WOJ_KOD',
                                                'NAZWA' : 'WOJ_NAZ'})

In [ ]:
voivodeship_df

   WOJ_KOD              WOJ_NAZ
0       02         dolnośląskie
1       04   kujawsko-pomorskie
2       06            lubelskie
3       08             lubuskie
4       10              łódzkie
5       12          małopolskie
6       14          mazowieckie
7       16             opolskie
8       18         podkarpackie
9       20            podlaskie
10      22            pomorskie
11      24              śląskie
12      26       świętokrzyskie
13      28  warmińsko-mazurskie
14      30        wielkopolskie
15      32   zachodniopomorskie

In [ ]:
voivodeship_df = voivodeship_df.sort_values(by=['WOJ_KOD'])
voivodeship_df

   WOJ_KOD              WOJ_NAZ
0       02         dolnośląskie
1       04   kujawsko-pomorskie
2       06            lubelskie
3       08             lubuskie
4       10              łódzkie
5       12          małopolskie
6       14          mazowieckie
7       16             opolskie
8       18         podkarpackie
9       20            podlaskie
10      22            pomorskie
11      24              śląskie
12      26       świętokrzyskie
13      28  warmińsko-mazurskie
14      30        wielkopolskie
15      32   zachodniopomorskie

In [ ]:
voivodeship_df['WOJ_ID'] = np.arange(0,len(voivodeship_df))

In [ ]:
voivodeship_df

   WOJ_KOD              WOJ_NAZ  WOJ_ID
0       02         dolnośląskie       0
1       04   kujawsko-pomorskie       1
2       06            lubelskie       2
3       08             lubuskie       3
4       10              łódzkie       4
5       12          małopolskie       5
6       14          mazowieckie       6
7       16             opolskie       7
8       18         podkarpackie       8
9       20            podlaskie       9
10      22            pomorskie      10
11      24              śląskie      11
12      26       świętokrzyskie      12
13      28  warmińsko-mazurskie      13
14      30        wielkopolskie      14
15      32   zachodniopomorskie      15