In [ ]:
import sys
!pip install pandas

In [ ]:
pip install notebook

In [2]:
import pandas as pd
import numpy as np

In [ ]:
pd.__version__

'1.4.4'

`Pandas` to kolejna biblioteka niezbędna do analizy danych w Pythonie. Dostarcza wydajne struktury danych, dzięki którym praca z danymi tabularycznymi staje się prosta i ituicyjna. Celem twórców jest utrzymanie statusu biblioteki niezbędnej do codziennych analiz oraz zdobycie fotela lidera w kategorii najpotężniejszego narzędzia open-source do analizy danych w jakimkolwiek języku programowania. Obecnie, projekt wciąż prężnie się rozwija i jego znajomość jest niezbędna dla każdego danologa.

`Pandas` będzie dobrym wyborem do następujących zastosowań:

- Dane tabularyczne (kolumny jak w SQLu lub Excelu)
- Dane reprezentujące szeregi czasowe
- Macierze,
- Wyniki pomiarów i statystyk.

Dwa główne typy danych w Pythonie to `Series` (jednowymiarowa kolumna) i `DataFrame` (dwuwymiarowa tabela). `Pandas` wykorzystuje w obliczeniach bibliotekę `NumPy` oraz jest przygotowany do integrowania się z wieloma bibliotekami zewnętrznymi.

Mocnymi stronami `Pandas` są między innymi:

- Prosta obsługa brakujących wartości (`NaN`),
- Możliwość modyfikowania rozmiaru `DataFrame`'a - możemy dodawać i usuwać kolumny i wiersze,
- Automatyczne wyrównywanie danych w obliczeniach (jak w `NumPy`),
- Metoda `groupBy` działająca analogicznie jak w SQLu,
- Łatwo stworzyć `DataFrame` na podstawie innego obiektu,
- Cięcie, indeksowanie i tworzenie podzbiorów,
- Łączenie (`join` i `merge`) zbiorów.

# **1. Podstawowe operacje na series i df**


**1.1 Tworzenie df i series**

In [ ]:
None, np.nan

(None, nan)

In [ ]:
s = pd.Series([1,3,4, np.nan, 6,8])
s

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20130101', periods=6)
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df)

                   A         B         C         D
2013-01-01  0.722192  0.616683  0.612863  0.668295
2013-01-02 -1.438570  0.080530 -0.066211 -1.426974
2013-01-03  0.922284 -0.291260  0.443448 -1.202269
2013-01-04  0.200719  0.737017 -0.052102 -0.306231
2013-01-05 -1.039653  0.268193  0.538706  0.604283
2013-01-06 -0.006197  0.523341  0.785451 -0.269836

In [5]:
df2 = pd.DataFrame({
                    'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo',
                    'G' : [False, True,True,False]
                   })

In [6]:
df2

     A          B    C  D      E    F      G
0  1.0 2013-01-02  1.0  3   test  foo  False
1  1.0 2013-01-02  1.0  3  train  foo   True
2  1.0 2013-01-02  1.0  3   test  foo   True
3  1.0 2013-01-02  1.0  3  train  foo  False

In [7]:
dane_sprzedaz_df = pd.read_csv('/content/dane_sprzedaz.csv', sep=',', encoding='utf-8')
dane_sprzedaz_df

     DZIEN_DATA  SKL_ID  TOW_ID  SPRZ_NETTO  ZYSK_PROCENT ZYSK_WART
0    01.05.2022       1       1       416.0             9     37,44
1    02.05.2022       1       1       454.0             2      9,08
2    03.05.2022       1       1       392.0            13     50,96
3    04.05.2022       1       1       498.0             9     44,82
4    05.05.2022       1       1       341.0            15     51,15
..          ...     ...     ...         ...           ...       ...
130  11.05.2022       3       3       374.0             7     26,18
131  12.05.2022       3       3       390.0             4      15,6
132  13.05.2022       3       3       485.0            10      48,5
133  14.05.2022       3       3       479.0             3     14,37
134  15.05.2022       3       3       366.0            13     47,58

[135 rows x 6 columns]

# **1.2 Błędy !**

In [ ]:
# # df2 = pd.DataFrame({
# #                     'A': 1.,
# #                     'B': pd.Timestamp('20130102'),
# #                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
# #                     'D': np.array([3] * 4, dtype='int32'),
# #                     'E': pd.Categorical(["test", "train", "test", "train"]),
# #                     'F': 'foo',
# #                     'G' : [False, True,True,False,True],
# #                     'H' : False, True,True,False,
# #                    })
# ValueError: All arrays must be of the same length
# SyntaxError: invalid syntax

# **1.3 Przeglądanie danych**

Do przeglądania `DataFrame` służą między innymi następujące pola i metody.

In [8]:
from IPython.display import display

In [9]:
display(df.head())

                   A         B         C         D
2013-01-01  0.722192  0.616683  0.612863  0.668295
2013-01-02 -1.438570  0.080530 -0.066211 -1.426974
2013-01-03  0.922284 -0.291260  0.443448 -1.202269
2013-01-04  0.200719  0.737017 -0.052102 -0.306231
2013-01-05 -1.039653  0.268193  0.538706  0.604283

In [10]:
display(df.tail(3))

                   A         B         C         D
2013-01-04  0.200719  0.737017 -0.052102 -0.306231
2013-01-05 -1.039653  0.268193  0.538706  0.604283
2013-01-06 -0.006197  0.523341  0.785451 -0.269836

In [11]:
print(df.index)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
print(df.columns)

Index(['A', 'B', 'C', 'D'], dtype='object')

# **1.4 DF z numpy, json, dict**

`DataFrame.to_numpy()` jest metodą, która zamienia `DataFrame` na tablicę. Problemem jest to, że o ile `DataFrame` może przechowywać dane różnego typu, o tyle `ndarray` ma jeden `dtype` na całą tablicę. W związku z tym, może się okazać, że zajdzie konieczność castowania wszystkich obiektów na object.

`df.to_numpy()` będzie operacją błyskawiczną, natomiast `df2.to_numpy()` będzie już relatywnie wolne. """

In [13]:
# Commented out IPython magic to ensure Python compatibility.
%timeit df.to_numpy()
%timeit df2.to_numpy()

3.57 µs ± 85.6 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
158 µs ± 5.36 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

**1.4.1 DF z numpy**

In [14]:
import numpy as np
import pandas as pd

my_array = np.array([[11,22,33],[44,55,66]])

df_numpy = pd.DataFrame(my_array, columns = ['Column_A','Column_B','Column_C'])

print(df_numpy)
print(type(df_numpy))

   Column_A  Column_B  Column_C
0        11        22        33
1        44        55        66
<class 'pandas.core.frame.DataFrame'>

In [15]:
my_array

array([[11, 22, 33],
       [44, 55, 66]])

In [16]:
df_numpy

   Column_A  Column_B  Column_C
0        11        22        33
1        44        55        66

**1.4.2 DF ze słownika**

In [17]:
data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
pd.DataFrame.from_dict(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [18]:
data

{'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}

In [19]:
type(data)

dict

**1.4.3 DF z json**

In [ ]:
# df_json = pd.read_json('data/simple_json.json')
# df_json

In [20]:
pd.set_option("display.notebook_repr_html", False)

In [21]:
df

                   A         B         C         D
2013-01-01  0.722192  0.616683  0.612863  0.668295
2013-01-02 -1.438570  0.080530 -0.066211 -1.426974
2013-01-03  0.922284 -0.291260  0.443448 -1.202269
2013-01-04  0.200719  0.737017 -0.052102 -0.306231
2013-01-05 -1.039653  0.268193  0.538706  0.604283
2013-01-06 -0.006197  0.523341  0.785451 -0.269836

In [22]:
pd.set_option("display.notebook_repr_html", True)

In [23]:
df

                   A         B         C         D
2013-01-01  0.722192  0.616683  0.612863  0.668295
2013-01-02 -1.438570  0.080530 -0.066211 -1.426974
2013-01-03  0.922284 -0.291260  0.443448 -1.202269
2013-01-04  0.200719  0.737017 -0.052102 -0.306231
2013-01-05 -1.039653  0.268193  0.538706  0.604283
2013-01-06 -0.006197  0.523341  0.785451 -0.269836

# **1.5 Funkcje użytkowe na DF**

**1.5.1 Opis dataframe**

In [24]:
print(df.info())  # informacje o DF
print('----')

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2013-01-01 to 2013-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes
None
----

In [25]:
display(df.describe())  # opis statystyczny
print('----')

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.106537  0.322417  0.377026 -0.322122
std    0.948130  0.383902  0.355975  0.876070
min   -1.438570 -0.291260 -0.066211 -1.426974
25%   -0.781289  0.127446  0.071786 -0.978259
50%    0.097261  0.395767  0.491077 -0.288033
75%    0.591824  0.593347  0.594324  0.385753
max    0.922284  0.737017  0.785451  0.668295

----

In [26]:
df.shape # układ df

(6, 4)

In [27]:
df.size # ilość values w df

24

In [28]:
len(df) # ilość wierszy

6

In [29]:
df.sample(2)

                   A         B         C         D
2013-01-04  0.200719  0.737017 -0.052102 -0.306231
2013-01-06 -0.006197  0.523341  0.785451 -0.269836

In [30]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [31]:
type(df)

pandas.core.frame.DataFrame

In [32]:
type(df.A)

pandas.core.series.Series

**1.5.2 Zmiany dataframe**

In [33]:
display(df.T)  # zamiana wierszy z kolumnami
print('----')

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.722192   -1.438570    0.922284    0.200719   -1.039653   -0.006197
B    0.616683    0.080530   -0.291260    0.737017    0.268193    0.523341
C    0.612863   -0.066211    0.443448   -0.052102    0.538706    0.785451
D    0.668295   -1.426974   -1.202269   -0.306231    0.604283   -0.269836

----

In [34]:
display(df.sort_index(axis=1, ascending=False))  # sortowanie wg indeksu
print('----')

                   D         C         B         A
2013-01-01  0.668295  0.612863  0.616683  0.722192
2013-01-02 -1.426974 -0.066211  0.080530 -1.438570
2013-01-03 -1.202269  0.443448 -0.291260  0.922284
2013-01-04 -0.306231 -0.052102  0.737017  0.200719
2013-01-05  0.604283  0.538706  0.268193 -1.039653
2013-01-06 -0.269836  0.785451  0.523341 -0.006197

----

In [35]:
display(df.sort_values(by='B'))  # sortowanie według kolumny

                   A         B         C         D
2013-01-03  0.922284 -0.291260  0.443448 -1.202269
2013-01-02 -1.438570  0.080530 -0.066211 -1.426974
2013-01-05 -1.039653  0.268193  0.538706  0.604283
2013-01-06 -0.006197  0.523341  0.785451 -0.269836
2013-01-01  0.722192  0.616683  0.612863  0.668295
2013-01-04  0.200719  0.737017 -0.052102 -0.306231

In [36]:
df.reset_index(drop=True)  ## zmienia w miejscu!

          A         B         C         D
0  0.722192  0.616683  0.612863  0.668295
1 -1.438570  0.080530 -0.066211 -1.426974
2  0.922284 -0.291260  0.443448 -1.202269
3  0.200719  0.737017 -0.052102 -0.306231
4 -1.039653  0.268193  0.538706  0.604283
5 -0.006197  0.523341  0.785451 -0.269836

In [37]:
df.reset_index(drop=False)  ## zmienia w miejscu!

       index         A         B         C         D
0 2013-01-01  0.722192  0.616683  0.612863  0.668295
1 2013-01-02 -1.438570  0.080530 -0.066211 -1.426974
2 2013-01-03  0.922284 -0.291260  0.443448 -1.202269
3 2013-01-04  0.200719  0.737017 -0.052102 -0.306231
4 2013-01-05 -1.039653  0.268193  0.538706  0.604283
5 2013-01-06 -0.006197  0.523341  0.785451 -0.269836

**1.5.3 Agregacja na DF**

In [38]:
df.sum()

A   -0.639223
B    1.934504
C    2.262154
D   -1.932732
dtype: float64

In [39]:
df.min()

A   -1.438570
B   -0.291260
C   -0.066211
D   -1.426974
dtype: float64

In [40]:
df.max()

A    0.922284
B    0.737017
C    0.785451
D    0.668295
dtype: float64

In [41]:
df.median()

A    0.097261
B    0.395767
C    0.491077
D   -0.288033
dtype: float64

**1.5.4 Obiekt i dziedziczenie obiektu DataFrame**

In [42]:
df

                   A         B         C         D
2013-01-01  0.722192  0.616683  0.612863  0.668295
2013-01-02 -1.438570  0.080530 -0.066211 -1.426974
2013-01-03  0.922284 -0.291260  0.443448 -1.202269
2013-01-04  0.200719  0.737017 -0.052102 -0.306231
2013-01-05 -1.039653  0.268193  0.538706  0.604283
2013-01-06 -0.006197  0.523341  0.785451 -0.269836

In [43]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-03  0.922284 -0.291260  0.443448 -1.202269
2013-01-02 -1.438570  0.080530 -0.066211 -1.426974
2013-01-05 -1.039653  0.268193  0.538706  0.604283
2013-01-06 -0.006197  0.523341  0.785451 -0.269836
2013-01-01  0.722192  0.616683  0.612863  0.668295
2013-01-04  0.200719  0.737017 -0.052102 -0.306231

In [44]:
df_sort_new_object = df.sort_values(by='B').copy()

In [45]:
df_sort_new_object

                   A         B         C         D
2013-01-03  0.922284 -0.291260  0.443448 -1.202269
2013-01-02 -1.438570  0.080530 -0.066211 -1.426974
2013-01-05 -1.039653  0.268193  0.538706  0.604283
2013-01-06 -0.006197  0.523341  0.785451 -0.269836
2013-01-01  0.722192  0.616683  0.612863  0.668295
2013-01-04  0.200719  0.737017 -0.052102 -0.306231

**1.5.5 Zmiana typu kolumny**

In [46]:
df2 = pd.DataFrame({
                    'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo',
                    'G' : [False, True,True,False]
                   })

In [47]:
df2

     A          B    C  D      E    F      G
0  1.0 2013-01-02  1.0  3   test  foo  False
1  1.0 2013-01-02  1.0  3  train  foo   True
2  1.0 2013-01-02  1.0  3   test  foo   True
3  1.0 2013-01-02  1.0  3  train  foo  False

In [48]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      datetime64[ns]
 2   C       4 non-null      float32
 3   D       4 non-null      int32
 4   E       4 non-null      category
 5   F       4 non-null      object
 6   G       4 non-null      bool
dtypes: bool(1), category(1), datetime64[ns](1), float32(1), float64(1), int32(1), object(1)
memory usage: 292.0+ bytes

In [49]:
type(df2.A)

pandas.core.series.Series

In [ ]:
## tak nie zrobimy
# dtype(df2.A)

In [50]:
df2.A.dtype

dtype('float64')

In [51]:
df2.A = df2.A.astype(str)

In [52]:
df2.A.dtype

dtype('O')

In [53]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: object

In [54]:
df2.A[0] ## w ciapkach stał sie stringiem

'1.0'

In [56]:
df2.A = df2.A.astype(float)

In [57]:
df2.A.dtype

dtype('float64')

In [58]:
df2.A[0] ## bez ciapek

1.0

In [ ]:
## bład

In [59]:
df2.F

0    foo
1    foo
2    foo
3    foo
Name: F, dtype: object

In [ ]:
# df2.F = df2.F.astype(float) ## ValueError: could not convert string to float: 'foo'

# **1.6 Pobieranie danych (select)**

In [60]:
print(df['A']) # tylko kolumna A
df['A']

2013-01-01    0.722192
2013-01-02   -1.438570
2013-01-03    0.922284
2013-01-04    0.200719
2013-01-05   -1.039653
2013-01-06   -0.006197
Freq: D, Name: A, dtype: float64

2013-01-01    0.722192
2013-01-02   -1.438570
2013-01-03    0.922284
2013-01-04    0.200719
2013-01-05   -1.039653
2013-01-06   -0.006197
Freq: D, Name: A, dtype: float64

In [61]:
print(df.A) # tylko kolumna A
print('----')

2013-01-01    0.722192
2013-01-02   -1.438570
2013-01-03    0.922284
2013-01-04    0.200719
2013-01-05   -1.039653
2013-01-06   -0.006197
Freq: D, Name: A, dtype: float64
----

In [62]:
display(df[0:3]) # wiersze od 0 do 2
print('----')

                   A         B         C         D
2013-01-01  0.722192  0.616683  0.612863  0.668295
2013-01-02 -1.438570  0.080530 -0.066211 -1.426974
2013-01-03  0.922284 -0.291260  0.443448 -1.202269

----

In [63]:
display(df['20130102':'20130104'])  # od 2 do 3 stycznia
print('----')

                   A         B         C         D
2013-01-02 -1.438570  0.080530 -0.066211 -1.426974
2013-01-03  0.922284 -0.291260  0.443448 -1.202269
2013-01-04  0.200719  0.737017 -0.052102 -0.306231

----

Label vs. Location The main distinction between the two methods is:

loc gets rows (and/or columns) with particular labels.

iloc gets rows (and/or columns) at integer locations.

https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different

In [64]:
b = pd.Series(np.round(np.random.uniform(0,1,10),2))
i = np.r_[0:10]
np.random.shuffle(i)
b.index = i
b

4    0.76
5    0.02
6    0.82
2    0.44
9    0.91
7    0.54
1    0.47
3    0.49
0    0.91
8    0.74
dtype: float64

In [65]:
b.iloc[2]

0.82

In [66]:
b.loc[2]

0.44

In [67]:
b.iloc[0:2]

4    0.76
5    0.02
dtype: float64

In [68]:
b.loc[0:2]

Series([], dtype: float64)

In [69]:
print(df.loc[dates[0]])  # według wartości w indeksie
print('----')

A    0.722192
B    0.616683
C    0.612863
D    0.668295
Name: 2013-01-01 00:00:00, dtype: float64
----

In [70]:
display(df.loc[:, ['A', 'B']])  # wszystkie wiersze, ale tylko kolumny A i B
print('----')

                   A         B
2013-01-01  0.722192  0.616683
2013-01-02 -1.438570  0.080530
2013-01-03  0.922284 -0.291260
2013-01-04  0.200719  0.737017
2013-01-05 -1.039653  0.268193
2013-01-06 -0.006197  0.523341

----

In [71]:
display(df.loc['20130102':'20130104', ['A', 'B']])  # zakres wierszy
print('----')

                   A         B
2013-01-02 -1.438570  0.080530
2013-01-03  0.922284 -0.291260
2013-01-04  0.200719  0.737017

----

In [72]:
print(df.loc['20130102', ['A', 'B']])  # tylko jeden wiersz
print('----')

A   -1.43857
B    0.08053
Name: 2013-01-02 00:00:00, dtype: float64
----

In [73]:
print(df.loc[dates[0], 'A'])  # jedna komórka
print('----')

0.7221924807746362
----

In [75]:
display(df.iloc[[3]])  # jeden wiersz, wg numeru wiersza jako DF

                   A         B         C         D
2013-01-04  0.200719  0.737017 -0.052102 -0.306231

In [76]:
display(df.iloc[3])  # jako Series
print('----')

A    0.200719
B    0.737017
C   -0.052102
D   -0.306231
Name: 2013-01-04 00:00:00, dtype: float64

----

In [77]:
display(df.iloc[3:5, 0:2])  # według indeksów
print('----')

                   A         B
2013-01-04  0.200719  0.737017
2013-01-05 -1.039653  0.268193

----

In [78]:
display(df[df.A < 0])  # indeksowanie warunkiem logicznym
print('----')

                   A         B         C         D
2013-01-02 -1.438570  0.080530 -0.066211 -1.426974
2013-01-05 -1.039653  0.268193  0.538706  0.604283
2013-01-06 -0.006197  0.523341  0.785451 -0.269836

----

In [79]:
display(df[df > 0])  # szuka wartości mniejszych od zero

                   A         B         C         D
2013-01-01  0.722192  0.616683  0.612863  0.668295
2013-01-02       NaN  0.080530       NaN       NaN
2013-01-03  0.922284       NaN  0.443448       NaN
2013-01-04  0.200719  0.737017       NaN       NaN
2013-01-05       NaN  0.268193  0.538706  0.604283
2013-01-06       NaN  0.523341  0.785451       NaN

In [80]:
df2 = df.copy()

In [81]:
df2

                   A         B         C         D
2013-01-01  0.722192  0.616683  0.612863  0.668295
2013-01-02 -1.438570  0.080530 -0.066211 -1.426974
2013-01-03  0.922284 -0.291260  0.443448 -1.202269
2013-01-04  0.200719  0.737017 -0.052102 -0.306231
2013-01-05 -1.039653  0.268193  0.538706  0.604283
2013-01-06 -0.006197  0.523341  0.785451 -0.269836

In [82]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'pawe']

In [83]:
display(df2[df2['E'].isin(['two', 'four'])])  # wybór według wartości w komórkach

                   A         B         C         D     E
2013-01-03  0.922284 -0.291260  0.443448 -1.202269   two
2013-01-05 -1.039653  0.268193  0.538706  0.604283  four

In [84]:
df2

                   A         B         C         D      E
2013-01-01  0.722192  0.616683  0.612863  0.668295    one
2013-01-02 -1.438570  0.080530 -0.066211 -1.426974    one
2013-01-03  0.922284 -0.291260  0.443448 -1.202269    two
2013-01-04  0.200719  0.737017 -0.052102 -0.306231  three
2013-01-05 -1.039653  0.268193  0.538706  0.604283   four
2013-01-06 -0.006197  0.523341  0.785451 -0.269836   pawe

In [85]:
df2[df2.E.str.contains('ree', regex= True, na=False)]

                   A         B         C         D      E
2013-01-04  0.200719  0.737017 -0.052102 -0.306231  three

In [86]:
df2[df2.E.str.contains('on', regex= True, na=False)]

                   A         B         C         D    E
2013-01-01  0.722192  0.616683  0.612863  0.668295  one
2013-01-02 -1.438570  0.080530 -0.066211 -1.426974  one

In [87]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))

In [88]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [89]:
df['F'] = s1  # dodanie Series jako nowy wiersz

In [90]:
df

                   A         B         C         D    F
2013-01-01  0.722192  0.616683  0.612863  0.668295  NaN
2013-01-02 -1.438570  0.080530 -0.066211 -1.426974  1.0
2013-01-03  0.922284 -0.291260  0.443448 -1.202269  2.0
2013-01-04  0.200719  0.737017 -0.052102 -0.306231  3.0
2013-01-05 -1.039653  0.268193  0.538706  0.604283  4.0
2013-01-06 -0.006197  0.523341  0.785451 -0.269836  5.0

In [91]:
df.loc[:, 'D'] = np.array([5] * len(df))  # przypisanie numpy array
display(df)

                   A         B         C  D    F
2013-01-01  0.722192  0.616683  0.612863  5  NaN
2013-01-02 -1.438570  0.080530 -0.066211  5  1.0
2013-01-03  0.922284 -0.291260  0.443448  5  2.0
2013-01-04  0.200719  0.737017 -0.052102  5  3.0
2013-01-05 -1.039653  0.268193  0.538706  5  4.0
2013-01-06 -0.006197  0.523341  0.785451  5  5.0

In [92]:
df[df > 0] = -df  # przypisanie ujemnych wartości tam gdzie są dodatnie
display(df)

                   A         B         C  D    F
2013-01-01 -0.722192 -0.616683 -0.612863 -5  NaN
2013-01-02 -1.438570 -0.080530 -0.066211 -5 -1.0
2013-01-03 -0.922284 -0.291260 -0.443448 -5 -2.0
2013-01-04 -0.200719 -0.737017 -0.052102 -5 -3.0
2013-01-05 -1.039653 -0.268193 -0.538706 -5 -4.0
2013-01-06 -0.006197 -0.523341 -0.785451 -5 -5.0

# **1.7 Praca z brakującymi danymi**

**1.7.1 Wykrywanie danych**

In [93]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])  # wybierz nowy zakres indeksów z DF

In [94]:
df1

                   A         B         C  D    F   E
2013-01-01 -0.722192 -0.616683 -0.612863 -5  NaN NaN
2013-01-02 -1.438570 -0.080530 -0.066211 -5 -1.0 NaN
2013-01-03 -0.922284 -0.291260 -0.443448 -5 -2.0 NaN
2013-01-04 -0.200719 -0.737017 -0.052102 -5 -3.0 NaN

In [95]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [96]:
df1.loc[dates[0]:dates[1], 'E'] = 1  # ustaw wartość w kolumnie E, w odpowiednich wierszach

In [97]:
df1

                   A         B         C  D    F    E
2013-01-01 -0.722192 -0.616683 -0.612863 -5  NaN  1.0
2013-01-02 -1.438570 -0.080530 -0.066211 -5 -1.0  1.0
2013-01-03 -0.922284 -0.291260 -0.443448 -5 -2.0  NaN
2013-01-04 -0.200719 -0.737017 -0.052102 -5 -3.0  NaN

In [98]:
df2 = df1.copy()

In [99]:
display(pd.isna(df1))

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

In [100]:
df1[df1.isna().any(axis=1)] ## to pokazuje konkretne wiersze

                   A         B         C  D    F    E
2013-01-01 -0.722192 -0.616683 -0.612863 -5  NaN  1.0
2013-01-03 -0.922284 -0.291260 -0.443448 -5 -2.0  NaN
2013-01-04 -0.200719 -0.737017 -0.052102 -5 -3.0  NaN

In [101]:
display(df1.dropna(how='any'))

                  A        B         C  D    F    E
2013-01-02 -1.43857 -0.08053 -0.066211 -5 -1.0  1.0

In [102]:
df1

                   A         B         C  D    F    E
2013-01-01 -0.722192 -0.616683 -0.612863 -5  NaN  1.0
2013-01-02 -1.438570 -0.080530 -0.066211 -5 -1.0  1.0
2013-01-03 -0.922284 -0.291260 -0.443448 -5 -2.0  NaN
2013-01-04 -0.200719 -0.737017 -0.052102 -5 -3.0  NaN

**1.7.2 Wypełnianie danymi**

In [103]:
display(df2.fillna(value=5))

                   A         B         C  D    F    E
2013-01-01 -0.722192 -0.616683 -0.612863 -5  5.0  1.0
2013-01-02 -1.438570 -0.080530 -0.066211 -5 -1.0  1.0
2013-01-03 -0.922284 -0.291260 -0.443448 -5 -2.0  5.0
2013-01-04 -0.200719 -0.737017 -0.052102 -5 -3.0  5.0

In [104]:
df2

                   A         B         C  D    F    E
2013-01-01 -0.722192 -0.616683 -0.612863 -5  NaN  1.0
2013-01-02 -1.438570 -0.080530 -0.066211 -5 -1.0  1.0
2013-01-03 -0.922284 -0.291260 -0.443448 -5 -2.0  NaN
2013-01-04 -0.200719 -0.737017 -0.052102 -5 -3.0  NaN

In [105]:
df2.fillna(0)

                   A         B         C  D    F    E
2013-01-01 -0.722192 -0.616683 -0.612863 -5  0.0  1.0
2013-01-02 -1.438570 -0.080530 -0.066211 -5 -1.0  1.0
2013-01-03 -0.922284 -0.291260 -0.443448 -5 -2.0  0.0
2013-01-04 -0.200719 -0.737017 -0.052102 -5 -3.0  0.0

In [106]:
df2.fillna(method="ffill")

                   A         B         C  D    F    E
2013-01-01 -0.722192 -0.616683 -0.612863 -5  NaN  1.0
2013-01-02 -1.438570 -0.080530 -0.066211 -5 -1.0  1.0
2013-01-03 -0.922284 -0.291260 -0.443448 -5 -2.0  1.0
2013-01-04 -0.200719 -0.737017 -0.052102 -5 -3.0  1.0

In [107]:
df2.fillna(method="bfill")

                   A         B         C  D    F    E
2013-01-01 -0.722192 -0.616683 -0.612863 -5 -1.0  1.0
2013-01-02 -1.438570 -0.080530 -0.066211 -5 -1.0  1.0
2013-01-03 -0.922284 -0.291260 -0.443448 -5 -2.0  NaN
2013-01-04 -0.200719 -0.737017 -0.052102 -5 -3.0  NaN

In [108]:
df2.fillna(df.mean())

                   A         B         C  D    F    E
2013-01-01 -0.722192 -0.616683 -0.612863 -5 -3.0  1.0
2013-01-02 -1.438570 -0.080530 -0.066211 -5 -1.0  1.0
2013-01-03 -0.922284 -0.291260 -0.443448 -5 -2.0  NaN
2013-01-04 -0.200719 -0.737017 -0.052102 -5 -3.0  NaN

# **1.8 Dodanie i usuwanie kolumn**

**1.8.1 Dodawanie**

In [109]:
values = [40, 38, 32.5, 27]
 
df2['new_col'] = values

In [110]:
s1 = pd.Series([40.5, 38.5, 33, 28], index=[0, 1, 2, 3])
s2 = pd.Series([48.5, 42, 41, 37], index=[0, 1, 2, 3])
 
df2 = df2.assign(science_score=s1.values, english_score=s2.values)
df2

,A,B,C,D,F,E,new_col,science_score,english_score
2013-01-01,-0.722192,-0.616683,-0.612863,-5,NaN,1.0,40.0,40.5,48.5
2013-01-02,-1.438570,-0.080530,-0.066211,-5,-1.0,1.0,38.0,38.5,42.0
2013-01-03,-0.922284,-0.291260,-0.443448,-5,-2.0,NaN,32.5,33.0,41.0
2013-01-04,-0.200719,-0.737017,-0.052102,-5,-3.0,NaN,27.0,28.0,37.0

In [111]:
df2['avg_score'] = df2.apply(lambda row: 
                               ((row.new_col + row.science_score) / 2), 
                               axis=1)
df2

,A,B,C,D,F,E,new_col,science_score,english_score,avg_score
2013-01-01,-0.722192,-0.616683,-0.612863,-5,NaN,1.0,40.0,40.5,48.5,40.25
2013-01-02,-1.438570,-0.080530,-0.066211,-5,-1.0,1.0,38.0,38.5,42.0,38.25
2013-01-03,-0.922284,-0.291260,-0.443448,-5,-2.0,NaN,32.5,33.0,41.0,32.75
2013-01-04,-0.200719,-0.737017,-0.052102,-5,-3.0,NaN,27.0,28.0,37.0,27.50

In [112]:
df2['difference'] = df2.apply(lambda row: 
                               ((row.english_score - row.science_score)), 
                               axis=1)
df2

,A,B,C,D,F,E,new_col,science_score,english_score,avg_score,difference
2013-01-01,-0.722192,-0.616683,-0.612863,-5,NaN,1.0,40.0,40.5,48.5,40.25,8.0
2013-01-02,-1.438570,-0.080530,-0.066211,-5,-1.0,1.0,38.0,38.5,42.0,38.25,3.5
2013-01-03,-0.922284,-0.291260,-0.443448,-5,-2.0,NaN,32.5,33.0,41.0,32.75,8.0
2013-01-04,-0.200719,-0.737017,-0.052102,-5,-3.0,NaN,27.0,28.0,37.0,27.50,9.0

In [113]:
df2['empty_col'] = pd.NaT
df2

,A,B,C,D,F,E,new_col,science_score,english_score,avg_score,difference,empty_col
2013-01-01,-0.722192,-0.616683,-0.612863,-5,NaN,1.0,40.0,40.5,48.5,40.25,8.0,NaT
2013-01-02,-1.438570,-0.080530,-0.066211,-5,-1.0,1.0,38.0,38.5,42.0,38.25,3.5,NaT
2013-01-03,-0.922284,-0.291260,-0.443448,-5,-2.0,NaN,32.5,33.0,41.0,32.75,8.0,NaT
2013-01-04,-0.200719,-0.737017,-0.052102,-5,-3.0,NaN,27.0,28.0,37.0,27.50,9.0,NaT

In [114]:
df2['total_score'] = 50
df2

,A,B,C,D,F,E,new_col,science_score,english_score,avg_score,difference,empty_col,total_score
2013-01-01,-0.722192,-0.616683,-0.612863,-5,NaN,1.0,40.0,40.5,48.5,40.25,8.0,NaT,50
2013-01-02,-1.438570,-0.080530,-0.066211,-5,-1.0,1.0,38.0,38.5,42.0,38.25,3.5,NaT,50
2013-01-03,-0.922284,-0.291260,-0.443448,-5,-2.0,NaN,32.5,33.0,41.0,32.75,8.0,NaT,50
2013-01-04,-0.200719,-0.737017,-0.052102,-5,-3.0,NaN,27.0,28.0,37.0,27.50,9.0,NaT,50

# **1.9 Łączenie i grupowanie DataFrame**

In [115]:
df_groupby = pd.DataFrame(np.random.randn(10, 4))

In [116]:
df_groupby

          0         1         2         3
0  1.027503  0.421739  0.087938 -0.137855
1  0.744054  2.379316 -0.002048 -0.589014
2  0.345631 -0.942127 -0.689546 -0.542867
3  0.078859 -0.035906 -0.151056  2.294155
4 -1.242343 -0.203901 -0.387776 -0.020767
5  1.061889  1.364111  2.128680  1.286312
6  0.527723  0.191852 -0.393452 -0.614909
7  0.924246 -0.328733 -0.361095  1.461192
8  0.957793  0.981243  0.876425  1.171574
9 -0.476617  1.561079  0.898670  0.321403

In [117]:
pieces = [df_groupby[:3], df_groupby[3:7], df_groupby[7:]]  # podział wg wierszy

In [118]:
df_groupby[:3]

          0         1         2         3
0  1.027503  0.421739  0.087938 -0.137855
1  0.744054  2.379316 -0.002048 -0.589014
2  0.345631 -0.942127 -0.689546 -0.542867

**1.9.1 Dołaczanie 3 dataframe**

In [119]:
pieces

[          0         1         2         3
 0  1.027503  0.421739  0.087938 -0.137855
 1  0.744054  2.379316 -0.002048 -0.589014
 2  0.345631 -0.942127 -0.689546 -0.542867,
           0         1         2         3
 3  0.078859 -0.035906 -0.151056  2.294155
 4 -1.242343 -0.203901 -0.387776 -0.020767
 5  1.061889  1.364111  2.128680  1.286312
 6  0.527723  0.191852 -0.393452 -0.614909,
           0         1         2         3
 7  0.924246 -0.328733 -0.361095  1.461192
 8  0.957793  0.981243  0.876425  1.171574
 9 -0.476617  1.561079  0.898670  0.321403]

In [120]:
pd.concat(pieces)

          0         1         2         3
0  1.027503  0.421739  0.087938 -0.137855
1  0.744054  2.379316 -0.002048 -0.589014
2  0.345631 -0.942127 -0.689546 -0.542867
3  0.078859 -0.035906 -0.151056  2.294155
4 -1.242343 -0.203901 -0.387776 -0.020767
5  1.061889  1.364111  2.128680  1.286312
6  0.527723  0.191852 -0.393452 -0.614909
7  0.924246 -0.328733 -0.361095  1.461192
8  0.957793  0.981243  0.876425  1.171574
9 -0.476617  1.561079  0.898670  0.321403

**1.9.2 Łaczenie po kolumnie - key**

In [121]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [122]:
left

   key  lval
0  foo     1
1  foo     2

In [123]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [124]:
right

   key  rval
0  foo     4
1  foo     5

In [125]:
merged = pd.merge(left, right, on='key')  # łączenie wg wspólnej kolumny

In [126]:
merged

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

**1.9.3 Łaczenie po kolumnie - left and right**

In [127]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'c': ['foo', 'baz'], 'b': [2, 4]})

In [128]:
df1

     a  b
0  foo  1
1  bar  2

In [129]:
df2

     c  b
0  foo  2
1  baz  4

In [130]:
df1.merge(df2, how='left', on='b')

     a  b    c
0  foo  1  NaN
1  bar  2  foo

In [131]:
df1.merge(df2, how='right', on='b')

     a  b    c
0  bar  2  foo
1  NaN  4  baz

**1.9.4 Łaczenie po kolumnie - inner and outer**

In [132]:
df1.merge(df2, how='inner', on='b')

     a  b    c
0  bar  2  foo

In [133]:
df1.merge(df2, how='outer', on='b')

     a  b    c
0  foo  1  NaN
1  bar  2  foo
2  NaN  4  baz

In [134]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  2.015101 -0.307748  0.145717  2.052653
1 -0.000960  0.478611  0.259544  0.609826
2  0.852076 -0.280107  1.737452 -0.691734
3  0.378367 -0.012496  2.163579 -2.180320
4 -0.965003 -0.723588 -0.392042  0.436868
5  0.856984  0.446404 -1.787759  0.397790
6 -0.276330 -0.315460  0.568796 -1.747343
7  0.508298  0.100319  0.333065  0.361332

In [135]:
s = df.iloc[3]
s

A    0.378367
B   -0.012496
C    2.163579
D   -2.180320
Name: 3, dtype: float64

"Warning"

In [136]:
df = df.append(s, ignore_index=True)  # dodaj wiersz, ignorując indeks
df

<ipython-input-136-684c3d3aa3b9>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(s, ignore_index=True)  # dodaj wiersz, ignorując indeks

          A         B         C         D
0  2.015101 -0.307748  0.145717  2.052653
1 -0.000960  0.478611  0.259544  0.609826
2  0.852076 -0.280107  1.737452 -0.691734
3  0.378367 -0.012496  2.163579 -2.180320
4 -0.965003 -0.723588 -0.392042  0.436868
5  0.856984  0.446404 -1.787759  0.397790
6 -0.276330 -0.315460  0.568796 -1.747343
7  0.508298  0.100319  0.333065  0.361332
8  0.378367 -0.012496  2.163579 -2.180320

**1.9.5 Group by**

In [138]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                         'foo', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'two', 'three',
                         'two', 'two', 'one', 'three'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})
df

     A      B         C         D
0  foo    one  1.902159 -0.796571
1  bar    one -1.479207  0.808504
2  foo    two  1.869733 -0.768307
3  bar  three  1.306473 -0.463578
4  foo    two -2.415147 -0.072875
5  bar    two -0.425744  0.927040
6  foo    one -1.067575 -0.038073
7  foo  three -1.381830  1.442295

In [139]:
df.groupby('A').sum()

            C         D
A
bar -0.598477  1.271966
foo -1.092660 -0.233532

In [140]:
df.groupby('A').min()

       B         C         D
A
bar  one -1.479207 -0.463578
foo  one -2.415147 -0.796571

In [141]:
df.groupby('A').max()

       B         C         D
A
bar  two  1.306473  0.927040
foo  two  1.902159  1.442295

In [142]:
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one   -1.479207  0.808504
    three  1.306473 -0.463578
    two   -0.425744  0.927040
foo one    0.834584 -0.834645
    three -1.381830  1.442295
    two   -0.545414 -0.841182

# **1.10 Cechy kategoryczne**

In [143]:
df_category = pd.DataFrame({"id": [1, 2, 3, 4, 5, 6], "raw_grade": ['a', 'b', 'b', 'a', 'a', 'e']})
df_category

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e

In [144]:
df_category["grade"] = df_category["raw_grade"].astype("category") # konwersja do typu kategorii

In [145]:
df_category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         6 non-null      int64
 1   raw_grade  6 non-null      object
 2   grade      6 non-null      category
dtypes: category(1), int64(1), object(1)
memory usage: 362.0+ bytes

In [146]:
df_category["grade"].cat.categories = ["very good", "good", "very bad"]
df_category

   id raw_grade      grade
0   1         a  very good
1   2         b       good
2   3         b       good
3   4         a  very good
4   5         a  very good
5   6         e   very bad

In [147]:
df_category.sort_values(by="grade") # sortowanie według zmiennej kategorycznej

   id raw_grade      grade
0   1         a  very good
3   4         a  very good
4   5         a  very good
1   2         b       good
2   3         b       good
5   6         e   very bad

In [148]:
display(df_category.groupby("grade").size()) # grupowanie według wartości zmiennej kategorycznej

grade
very good    3
good         2
very bad     1
dtype: int64

In [149]:
midx = pd.MultiIndex(
    levels=[["zero2", "one"],
            ["x", "y"]], 
    codes=[[1, 1, 0, 0], [1, 0, 1, 0]]
)


df_indeksy = pd.DataFrame(np.random.randn(4, 2), index=midx)
df_indeksy

                0         1
one   y -0.147301 -1.095739
      x  1.088015  0.514954
zero2 y -0.693585 -2.103355
      x  1.518707  0.411889

In [150]:
df_indeksy[0]

one    y   -0.147301
       x    1.088015
zero2  y   -0.693585
       x    1.518707
Name: 0, dtype: float64

In [151]:
df_indeksy.loc['one', 'y']

0   -0.147301
1   -1.095739
Name: (one, y), dtype: float64

In [152]:
df_indeksy.loc[:, 1]

one    y   -1.095739
       x    0.514954
zero2  y   -2.103355
       x    0.411889
Name: 1, dtype: float64

In [153]:
df_indeksy.loc['one' , :]

          0         1
y -0.147301 -1.095739
x  1.088015  0.514954

In [154]:
data = {"x": 2**np.arange(5),
         "y": 3**np.arange(5),
         "z": np.array([45, 98, 24, 11, 64])}

In [155]:
data

{'x': array([ 1,  2,  4,  8, 16]),
 'y': array([ 1,  3,  9, 27, 81]),
 'z': array([45, 98, 24, 11, 64])}

In [156]:
index = ["a", "b", "c", "d", "e"]

In [157]:
df = pd.DataFrame(data=data, index=index)
df

    x   y   z
a   1   1  45
b   2   3  98
c   4   9  24
d   8  27  11
e  16  81  64

In [158]:
mask = df["z"] < 50
df[mask]["z"] = 0

<ipython-input-158-902051addf24>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[mask]["z"] = 0

In [159]:
df.loc[mask, "z"] = 0

In [160]:
df

    x   y   z
a   1   1   0
b   2   3  98
c   4   9   0
d   8  27   0
e  16  81  64